@{
	Layout = "DetailsLayout";
}
@model DAL.Entity.Sneaker
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="~/detailspagedesign/style.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

</head>

<body>
    <main class="container">

        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            <img data-image="black" src="~/detailspagedesign/images/black.png" alt="">
            <img data-image="blue" src="~/detailspagedesign/images/blue.png" alt="">
            <img data-image="red" class="active" src="~/detailspagedesign/images/red.png" alt="">
        </div>


        <!-- Right Column -->
        <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
                <span>@Model.Brand</span>
                <h1>@Model.Name</h1>
                <p>@Model.Description</p>
            </div>

            <!-- Product Configuration -->
            <div class="product-configuration">

                <!-- Product Color -->
                <div class="product-color">
                    <span>Color</span>

                    <div class="color-choose">
                        <div>
                            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                            <label for="red"><span></span></label>
                        </div>
                        <div>
                            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                            <label for="blue"><span></span></label>
                        </div>
                        <div>
                            <input data-image="black" type="radio" id="black" name="color" value="black">
                            <label for="black"><span></span></label>
                        </div>
                    </div>

                </div>

                <!-- Cable Configuration -->
                <div class="cable-config">
                    <span>Availability</span>

                    <div class="cable-choose">
                        <button>
                            @if (Model.EstDispo)
                            {
                                <text>AVAILABLE </text>
                            }
                            else
                            {
                                <text>NOT AVAILABLE</text>
                            }
                        </button>
                    </div>


                    
                </div>
            </div>

            <!-- Product Pricing -->
            <div class="product-price">
                <span>@Model.Price $</span>
                <a asp-action="Index" asp-controller="Sneaker" class="cart-btn">Back To The List</a>
            </div>
        </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="~/detailspagedesign/script.js" charset="utf-8"></script>
</body>
</html>

